.carousel-wrap {
    width: 1192px;
    margin: auto;
    position: relative;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--color_green_1) !important; 
}


.owl-carousel .item {
    text-align: center;
}

.owl-carousel .nav-btn {
    height: 44px;
    position: absolute;
    width: 44px;
    cursor: pointer;
    top: 143px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    background: url('../img/nav-icon.png') no-repeat scroll 0 0;
    left: -64px;
    box-shadow: 0px 4px 25px rgba(1, 8, 3, 0.08);
}

.owl-carousel .next-slide {
    background: url('../img/nav-icon.png') no-repeat scroll -44px 0px;
    right: -64px;
    box-shadow: 0px 4px 25px rgba(1, 8, 3, 0.08);
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -44px;
}

.owl-carousel .next-slide:hover {
    background-position: -44px -44px;
}

span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
}

span.img-text:hover {
    color: #2caae1;
}