@media screen and (max-width: 1439px) 
{

footer {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 105px;
    height: auto;
}

footer > .ellipse_green {
    left: 98px;
    bottom: -51px;
    background: var(--color_green_1);
}

footer > .ellipse_blue {
    left: 463px;
    bottom: 109px;
    background: var(--color_blue_blur);    
}

footer > .get_consultation {
    flex-direction: column;
    align-items: start;
}

.get_consultation > .buttons {
    width: auto;
    text-align: left;
}

.get_consultation > .title > .desktop_text_l {
    margin-top: 12px;
    margin-bottom: 38px;
}

footer > .bottom_menu {
    margin-top: 34px;
    padding-top: 30px;
    height: auto;

    grid-template-columns: 230px 117px 185px 146px;
    grid-template-rows: 60px auto auto 38px auto ;
    grid-template-areas: "logo logo logo logo"
                        "info_data . column4 ."
                        "social_media . . ."
                        ". . . ."
                        "column1 column2 . column3"
}

.bottom_copyright {
    padding-top: 25px;
}

.bottom_copyright > .column1_block {
    width: 194px;
}

.bottom_copyright .column2_block {
    width: 262px;
}

}