@media screen and (max-width: 1439px) 
{

footer {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 105px;
    height: auto;
}

footer > .ellipse_green {
    left: 98px;
    bottom: -51px;
    background: var(--color_green_1);
}

footer > .ellipse_blue {
    left: 463px;
    bottom: 109px;
    background: var(--color_blue_blur);    
}

footer > .get_consultation {
    flex-direction: column;
    align-items: start;
}

.get_consultation > .buttons {
    width: auto;
    text-align: left;
}

.get_consultation > .title > .desktop_text_l {
    margin-top: 12px;
    margin-bottom: 38px;
}

footer > .bottom_menu {
    margin-top: 34px;
    padding-top: 30px;
    flex-wrap: wrap;
    height: auto;
}

.bottom_menu > .contacts_block {
    width: 347px;
    height: 250px;
}

.bottom_menu > .contacts_block > div > .adress {
    width: 190px;
}

.bottom_menu > .column1_block {
    order: 2;
    margin-left: 0;
    margin-top: 0;
    width: 230px;
} 

.bottom_menu > .column2_block {
    order: 3;
    margin-top: 0;
    width: 210px;
} 

.bottom_menu > .column3_block {
    order: 4;
    margin-left: 90px;
    margin-top: 0;
    width: 145px;
}

.bottom_menu > .column4_block {
    order: 1;
    width: 170px;
}

.bottom_copyright {
    padding-top: 25px;
}

.bottom_copyright > .column1_block {
    width: 194px;
}

.bottom_copyright .column2_block {
    width: 262px;
}

}