@media screen and (max-width: 767px) 
{

main {
    padding-left: 0;
}
    
.main_section {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 80px;
    background-image: url('../img/chart_dynamic_mobile.png');
    background-position-y: 160px;
    background-position-x: center;
}

.main_section > .info_block {
    width: 100%;
    text-align: center;
}

.main_section > .info_block > .content {
    margin-top: 12px;
    font-size: 14px;
    height: 230px;
}

.main_section > .info_block > .buttons_block {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.main_section > .ellipse_blue {
    left: 77px;
    top: 274px;
}

.main_section > .ellipse_green {
    left: 140px;
    top: 126px;
}

.recommendations_section > h2 {
    width: 100%;
}

.recommendations_section > .ellipse_blue {
    left: 109px;
    top: 401px;
}

.carousel_wrap {
    width: 100%;
}

.cases_section > .ellipse_blue {
    left: 38px;
    bottom: -45px;
}

.cases_section > .ellipse_green {
    left: 223px;
    bottom: 44px;
}

.recommendations_section {
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 16px;
}

.recommendations_items {
    width: 330px !important;
    margin: 0 auto;
}

.recommendation {
    flex-direction: column;
    text-align: left !important;
    gap: 35px;
}

.recommendation > .left_block {
    width: auto;
}

.recommendation > .left_block > .description
{
    padding-top: 8px;
}

.recommendation > .image_block > img 
{
    width: 300px;
    height: 152px;
}

.structure_section {
    padding-top: 58px;
    padding-left: 16px;
    padding-right: 16px;
}

.structure_section > .title {
    padding-right: 0;
}

.structure_section > .stacks {
    padding-top: 29px;
}

.stacks .stack {
    text-align: left;
    padding: 16px;
    box-shadow: 0px 4px 25px rgba(1, 8, 3, 0.08);
    border-radius: 30px;
}

.stacks .stack > p {
    margin-top: 20px;
}

.cases_section {
    padding-top: 38px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 76px;
    height: auto;
}

.case {
    padding-left: 15px;
    padding-bottom: 20px;
}

.cases_section > .subtitle {
    font-size: 18px;
}

.cases_section > button {
    font-size: 14px;
    right: calc(50% - 100px);
}

.faq_section {
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;
}

.faq_section > .ellipse_blue {
    display: block;
    left: 235px;
    top: 286px;
}

.faq_section > .ellipse_green {
    display: block;
    left: 67px;
    top: 291px;
}

.faq_section > .ellipse_blue2 {
    display: block;
    left: 194px;
    bottom: 11px;
}

.faq_section > .ellipse_green2 {
    display: block;
    left: 65px;
    bottom: 74px;
}

.faq_section > h2 {
    text-align: left;
}

.faq_accordion {
    margin-top: 30px;
    gap: 12px;
}

.faq_accordion > .question {
    padding-left: 10px;
    padding-right: 10px;
}

.faq_section > h2 {
    margin-bottom: 13px;
}

.question_expand {
    padding-top: 18px !important;
    padding-bottom: 12px !important;
}

.question > .description {
    line-height: 127%;
}

.dekstop_text_button {
    bottom: -48px;
    left: 16px;
}

.getoffer_section {
    padding-top: 48px;
    padding-left: 16px;
    padding-right: 16px;
}

.getoffer_section > .getoffer_block {
    box-shadow: 0px 4px 25px rgba(1, 8, 3, 0.08);
    border-radius: 10px;
    padding: 20px 20px 28px 20px;
}

.getoffer_form > h2 {
    line-height: 130%;
}

.getoffer_form > .subtitle {
    margin-top: 13px;
    margin-bottom: 38px;
}

input[type="text"] {
    font-size: 14px;
        padding: 12px 12px;
}

.feedback {
    gap: 10px;
    margin-left: 0;
    margin-right: 0;
}

.feedback button {
    width: 200px;
}

.feedback button::after {
    content: 'Отправить';
}

.getoffer_form .getoffer_checkbox {
        margin-left: 2px;
        margin-top: 3px;
}

}