<header>
    <!--                         Секция "Главное меню"                    -->    
    <section class="navigation_section">
        <a href="#" class="logo_block">
            <img src="./img/logo.png" alt="Bitroid.ru" width="198" height="64">
        </a>
        <div class="menu_block">
            <a href="#">
                Услуги
                <div class="icon_caretdown"></div>
            </a>
            <a href="#">
                Продукты
                <div class="icon_caretdown"></div>
            </a>
            <a href="#">
                <div>Готовые решения</div>
                <div class="icon_caretdown"></div>
            </a>
            <a href="#">
                <div>Кейсы и проекты</div>
                <div class="icon_caretdown"></div>
            </a>
            <a href="#">
                <div>О нас</div>
                <div class="icon_caretdown"></div>
            </a>
            <div class="icon_close"></div>
        </div>
        <div class="right_block">
            <a class="phone" href="tel:+74954142808">+7 (495) 414 28 08</a>
            <a href="#" class="search">
                <div class="icon_search"></div>
            </a>
            <div class="discuss_button">
                <button>Обсудить проект</button>
            </div>
            <div class="menu_icon_block">
                <div class="icon_menu"></div>
            </div>
        </div>
    </section>
    <!--                         Секция "Хлебные крошки"                       -->
    <section class="breadcrumb_section">
        <a href="#">
            <div class="icon_home"></div>
        </a>
        <a href="#" class="text_home">Главная</a>
        <div> / </div> 
        <a href="#">Услуги</a>
        <div> / </div> 
        <a href="#">Создание сайтов</a>
        <div> / </div>
        <a href="#">Сайт+SEO</a>
    </section>
</header>